body {
  background: linear-gradient(100deg, rgb(90, 182, 247), rgb(153, 60, 246));
}

h1 {
  text-align: center;
  padding: 5px;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.taskContainer {
  width: 500px;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
}

.taskCreateForm {
  font-size: 17px;
  display: flex;
  gap: 5px;
}

.taskInput {
  flex-grow: 1;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: solid 3px rgb(14, 97, 174);
  font-size: 17px;
}

.buttonCreate {
  border: none;
  border-radius: 8px;
  background-color: rgb(82, 224, 137);
  color: rgb(7, 4, 11);
  padding: 3px 20px;
  font-size: 17px;
}

.buttonCreate:hover {
  border: solid;
  background-color: rgb(31, 182, 69);
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.task {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.taskTitle {
  flex: 1;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.taskUpdateForm,
.taskInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  border-radius: 8px;
  background-color: rgb(114, 194, 247);
  color: black;
  padding: 10px 20px;
  font-size: 17px;
}

.button:hover {
  background-color: rgb(12, 122, 247);
}

.buttonDelete {
  font-size: 17px;
  border-radius: 8px;

  background-color: rgb(252, 146, 146);
  color: black;
  padding: 10px 20px;
}

.buttonDelete:hover {
  background-color: red;
  font-size: 17px;
}

.checkbox {
  height: 20px;
  width: 20px;
}
